body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                        'header header header header'
                        'section section section section'
                        'footer footer footer footer';
    grid-template-rows: 30vh 40vh 50vh;
}

nav{
    grid-area: nav;
    background-color: magenta;
}

header{
    grid-area: header;
    background-color: rgba(85, 23, 230, 0.747);
}

section{
    grid-area: section;;
    background-color: limegreen;
}

footer{
    grid-area: footer;
    background-color: black;
}

@media(min-width:768px){
    body{
        grid-template-areas: 'header header nav nav'
                            'header header nav nav'
                            'section section section section'
                            'footer footer footer footer';
    }
}

@media(min-width:1024px){
    body{
        grid-template-areas: 'nav nav nav nav'
                            'header header section section'
                            'header header section section'
                            'footer footer footer footer';
    }
}

